:root {
  --oliva: rgb(160, 227, 74);
  --olivamenu: rgba(160, 227, 74, 0.4);
  --olivadeg: rgba(160, 227, 74, 0.6);

  --iconos: #009988;

}


html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.contenedor {
  width: 95%;
  margin: 0 auto 0 auto;
}

/* NAVEGADOR */

.encabezado {
  background-color: white;
  /*   background-color: var(--oliva); */
  margin: 0px;
}

.nav {
  margin: 7px 15px 0px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*       LOGO        */

.logo {
  width: 100%;
  height: 100%;
  background-color: rgba(210, 255, 82, 1);
  background: -moz-linear-gradient(right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 0.64)));
  background: -webkit-linear-gradient(right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -o-linear-gradient(right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -ms-linear-gradient(right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: linear-gradient(to left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);

  border-radius: 25px;

}

.logonav {
  flex: 25%;
  max-width: 25%;
}

/*      BUSCADOR       */

.formbuscador {
  flex: 35%;
  max-width: 35%;
  width: 450px;
  height: 40px;
}

.absolute {
  display: grid;
  height: 40px;
  position: relative;
  width: 100%;
}

.buscador {
  border: 1px solid #4f4f4f;
  border-radius: 24px;
  font-size: 14px;
  padding: 0 16px;
}

.lupa {
  position: absolute;
  right: 16px;
  top: 55%;
  transform: translateY(-50%);
}

.lupa2 {
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

/*      ICONOS       */

.iconos {
  flex: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*      MEMÚ       */

.menu {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
/*   background-color: rgba(160, 227, 74, 0.4); */
}

/*      FONDO PARA SACAR EL BOTÓN */

/* #plantas {
  background-color: var(--olivamenu);
  border-radius: 12px;
}

#jardin {
  background-color: var(--olivamenu);
}

#servicios {
  background-color: var(--olivamenu);
}

#blog {
  background-color: var(--olivamenu);
}

#plantanding {
  background-color: var(--olivamenu);
} */

/*      Línea de abajo al poner ratón  */

#plantas:hover {
  text-decoration: underline 1px;
}

#jardin:hover {
  text-decoration: underline 1px;
}

#servicios:hover {
  text-decoration: underline 1px;
}

#blog:hover {
  text-decoration: underline 1px;
}

#plantanding:hover {
  text-decoration: underline 1px;
}

.zoom {
  transition: 0.2s;
  border: 2px var(--olivamenu);
}

.zoom:hover {
  box-shadow: 19px 23px 20px -10px rgba(0, 0, 0, 1);
  transform: scale(110%);
  background-color: white;
  border-color: black;
  border-radius: 10px;
  padding:0 10px;
  background: rgba(210, 255, 82, 1);
  background: -moz-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 0.64)));
  background: -webkit-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -o-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -ms-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: linear-gradient(to right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
}

/*      SECCIÓN OFERTAS/APP/NOVEDADES     */

.seccionofertas2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seccionofertas2 h2 {
  text-transform: uppercase;
}

.bannerofertas {
  background-image: url(../img/banner_plantas.png);
  background-size: cover;
  flex: 33.33%;
  max-width: 33.33%;
  color: white;
}

.bannerapp {
  background-image: url(../img/banner_app.jpg);
  background-size: cover;
  flex: 33.33%;
  max-width: 33.33%;
  /*   width:100%;
  height:100%; */
}

.bannerprimaveral {
  background-image: url(../img/banner_primavera.webp);
  background-size: cover;
  flex: 33.33%;
  max-width: 33.33%;
  color: white;
  /*   width:100%;
  height:100%; */
}



/*      SECCIÓN PARA CATEGORÍAS DESTACADAS */

/* .secciondestacadas {
   background-color:gold;
} */

.secciondestacadas2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}












/* ATENCIÓN AL CLIENTE Y LEGAL */

.pie {
  display: grid;
  grid: 1fr / 1fr 1fr;
  margin-top: 20px;
}

.pie h3 {
  color: var(--iconos);
}

.atencion {
  margin-left: 40%;
}

.atencion-grid {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr;
}

.alineacion {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.alineacion a {
  margin-left: 10px;
}



.legal {
  background-color: blue;
  margin-right: 40%;
}

.legal div h3 {
  justify-content: center;
}

.legal-tabla {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr;
  max-width: 100px;
  gap: 30px 60px;
  margin-top: 25px;
}





/* .legal {
  display: flex;
  flex-direction: column;
  flex: 35%;
  width: 35%;
  margin-right: 20%; */
/* margin-left: 10%; 
} */

/* .legal-alineacion {
  display: flex;
  flex-direction: column;
} */

/* .legal-alineacion a {
  display: flex;
  flex-direction: column;
  margin: 10px 30px 30px 0px;
} */

/* .legal-alineacion2 {
  display: flex;
  flex-direction: column;
} */

/* .legal-alineacion2 a {
  display: flex;
  flex-direction: column;
  margin: 10px 30px 30px 0px;
} */














/* FOOTER */

.encuentranos {
  background-color: var(--olivadeg);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.encuentranos h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}

.publicidad {
  display: flex;
  flex: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.redes {
  display: flex;
  flex: 30%;
  width: 30%;
  justify-content: space-evenly;
  padding: 10px;
  margin-right: 14%;
}

.redes-solas {
  display: flex;
  align-items: center;
}

.redes-solas a {
  margin-left: 10px;
}

.pagos {
  display: flex;
  flex: 20%;
  width: 20%;
  justify-content: space-evenly;
  padding: 10px;
}

.pagos-solos {
  display: flex;
  align-items: center;
}

.pagos-solos span {
  margin-left: 10px;
}

.copyright {
  display: flex;
  flex: 90%;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}

.copyright p {
  padding-left: 1%;
}