/* Variables */
:root {
  --oliva: rgb(160, 227, 74);
  --olivamenu: rgba(160, 227, 74, 0.4);
  --olivadeg: rgba(160, 227, 74, 0.6);
  --iconos: #009988;
  --verdevideo: rgb(126, 217, 87);
  --fondobeige: rgb(253, 246, 238);
  --fondogrisclaro: rgb(247, 247, 247);
}

html {
  font-size: 62.5%;
}

/* Para añadir el tipo de letra que hemos descargado */
@font-face {
  font-family: Quicksand;
  src: url(../Quicksand/static/Quicksand-Light.ttf);
}

/*  header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; */
}

body {
  font-size: 16px;
  margin: 0px;
  font-family: Quicksand;
}

/* Para modificar la barra de scroll del lateral derecho */
body::-webkit-scrollbar {
  width: 17px;
}

/* Para modificar la barra de scroll del lateral derecho */
body::-webkit-scrollbar-thumb {
  background-image: url(../img/icono_planta_feliz.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.contenedor {
  width: 90%;
  margin: 0 auto 0 auto;
}

/* NAVEGADOR */

.banner {
  background-image: url(../img/Ladrillos-blancos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.nav {
  margin: 0px 15px 0px 15px;
  padding: 2px 0 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*      LOGIN      */

.nav .btnloginr {
  position: relative;
  font-size: 1.1rem;
  margin-left: 40px;
}

/* cambiar a partir de aquí para la línea blanca del nav al pasar el cursor */
.nav .btnloginr:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform.5s;
}

/* .nav .icon-tabler:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform.5s;
} */

.nav .btnloginr:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

/* .nav .icon-tabler:hover:after {
  transform-origin: left;
  transform: scaleX(1);
} */

.nav .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.nav .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}

/* Intento de darle fondo */
/* .wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/banner_plantas.png) no-repeat;
  background-size: cover;
}
 */
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* esto oculta el otro "cartel" cuando aparece el contrario */
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

/* Oculta el registro de usuario, los desplazamos sobre la tabla transparente*/
.wrapper .form-box.login {
  /*   display: none; */
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

/* le da formato a la cruz para cerrar */
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 3em;
  color: #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 2em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2em;
  color: #162938;
  font-weight: 600px;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 2.2rem;
  color: #162938;
  line-height: 57px;
}

/* Le da espacio a la pregunta de si has olvidado la contraseña vs recordarme */
.remember-forgot {
  font-size: 1.5em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

/* Quitarle la raya de abajo a la pregunta de si has olvidado la contraseña */
.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 2em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 1.5em;
  color: 162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: 162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}


/*       LOGO        */

.logo {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.logonav {
  flex: 25%;
  max-width: 25%;
}

/*      BUSCADOR       */

.formbuscador {
  flex: 40%;
  max-width: 40%;
  width: 450px;
  height: 40px;
  padding-left: 50px;
  opacity: 0.7;
}

.absolute {
  display: grid;
  height: 40px;
  position: relative;
  width: 100%;
}

.buscador {
  border: 1px solid #4f4f4f;
  border-radius: 24px;
  font-size: 14px;
  padding: 0 16px;
}

.lupa {
  position: absolute;
  right: 16px;
  top: 55%;
  transform: translateY(-50%);
}

.lupa2 {
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

/*      ICONOS       */

.iconos {
  flex: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 12px;
  margin-top: 4px;
}

.menuResponsive {
  display: none;
  
}

.btnLogim-popup {
  font-size: 1.1rem;
  color: var(--iconos);
  font-weight: 800;
  width: 100px;
  height: 25px;
  background: transparent;
  border: 1px solid #000;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnLogim-popup:hover {
  background-color: rgb(204, 248, 137);
  color: #000;
}

/*      MENÚ       */

.menu {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(160, 227, 74, 0.9);
  /* box-shadow: 0 5px 6px rgb(0 0 0 / 10%); */
  max-width: 100%;
}

.menu h2 {
  margin: 7px;
}

/*      FONDO PARA SACAR EL BOTÓN */

/*      Línea de abajo al poner el ratón     */

#plantas:hover {
  text-decoration: underline 1px;
}

#jardin:hover {
  text-decoration: underline 1px;
}

#servicios:hover {
  text-decoration: underline 1px;
}

#blog:hover {
  text-decoration: underline 1px;
}

#plantanding:hover {
  text-decoration: underline 1px;
}

.zoom {
  transition: 0.2s;
  border: 2px var(--olivamenu);
  text-decoration: none;
}

.zoom:hover {
  box-shadow: 19px 23px 20px -10px rgba(0, 0, 0, 1);
  transform: scale(100%);
  border-radius: 10px;
  padding: 0 10px;
  background: rgba(210, 255, 82, 1);
}

.zoom a {
  text-decoration: none;
  color: black;
}

.desplegable {
  display: inline-block;
  position: relative;
}

.desplegable:hover .fondoJardin {
  display: block;
}

.fondoJardin {
  display: none;
  background-image: url(../img/fondo_madera_amarillo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: top;
  background-position: right; */
  /* height: 60rem; */
  height: 80vh;
  width: 945%;
  /* width: 1000%; */
  margin-left: -10rem;
  transition: 2s;
  position: absolute;
  overflow: hidden;
  padding-left: 50%;
  border-radius: 12px;
}

.filasJardin {
  display: grid;
  grid-template-rows: 30rem 15rem;
  align-items: baseline;
}

.menuJardin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 45rem 45rem; */
  grid: 100%;
  position: relative;
}

.menuJardin img {
  width: 300px;
  position: absolute;
  top: 80%;
  left: 0%;
}

.menuJardin div h2 {
  padding: 50px 10px 15px 10px;
  text-align: center;
  text-decoration: underline;
  line-height: 20px;
  font-size: 30px;
}

.menuJardin div a {
  display: block;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  font-weight: bold;
}

.menuJardin div a:hover {
  text-decoration: underline;
}


/* SERVICIOS */

.fondoServicios {
  display: none;
  background-image: url(../img/fondo_madera_azul.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: top;
  background-position: right; */
  /* height: 60rem; */
  height: 80vh;
  width: 645%;
  /* width: 1000%; */
  margin-left: -30rem;
  transition: 2s;
  position: absolute;
  overflow: hidden;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 10%;
  border-radius: 12px;
}

.menuServicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45rem;
  grid: 100%;
  position: relative;
}

.menuServicios img {
  /* padding: 150px 100px 90px 170px; */
  padding-top: 15%;
  padding-left: 25%;
  width: 300px;
  height: 350px;
  position: absolute;
  bottom: 40%;
  left: -20%;
}

.menuServicios div h2 {
  padding: 50px 10px 15px 10px;
  text-align: center;
  text-decoration: underline;
  line-height: 20px;
  font-size: 30px;
}

.menuServicios div a {
  display: block;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  font-weight: bold;
}

.menuServicios div a:hover {
  text-decoration: underline;
}

.desplegable:hover .fondoServicios {
  display: grid;
}

/*  Fondos madera para menu */

.fondoMadera {
  display: none;
  background-image: url(../img/fondo_madera_verde.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: top;
  background-position: right; */
  /* height: 60rem; */
  height: 80vh;
  width: 845%;
  /* width: 1000%; */
  margin-left: -5rem;
  transition: 2s;
  position: absolute;
  overflow: hidden;
  padding-left: 50%;
  border-radius: 12px;
}

.desplegable:hover .fondoMadera {
  display: block;
}

.menuPlantas {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.1fr;
  grid-template-rows: 45rem;
  grid: 100%;
  position: relative;
}

.menuPlantas img {
  /* padding: 150px 100px 90px 170px; */
  padding-top: 15%;
  padding-left: 25%;
  width: 300px;
  height: 350px;
  position: absolute;
  top: 0%;
  left: -20%;
}

.menuPlantas div h2 {
  padding: 50px 10px 15px 10px;
  text-align: center;
  text-decoration: underline;
  line-height: 20px;
  font-size: 30px;
}

.menuPlantas div a {
  display: block;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  font-weight: bold;
}

.menuPlantas div a:hover {
  text-decoration: underline;
}

.textoPlantas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 2%;
  align-items: flex-start;
}

.division1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* CAROUSEL */

.carousel {
  margin: 0;
  padding: 0;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 550px;
  /* border-radius: 10px; */
  overflow: hidden;
}

.slides {
  width: 335%;
  /* Cambiar para img juntas */
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 30%;
  transition: 3s;
}

.slides div img {
  width: 100%;
  height: 500px;
}


/* css para manual slide navigation */

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

/* Aplica a todos menos al último hijo */
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: black;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -30%;
}

#radio3:checked~.first {
  margin-left: -60%;
}


/* css para automatic carousel */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: black;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: black;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: black;
}


/*      SECCIÓN OFERTAS/APP/NOVEDADES     */

/*    BANNER OFERTAS   */

.bannerofertas {
  color: white;
  background-image: url(../img/banner_plantas.png);
  background-size: cover;
  flex: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 50px 50px 75px 50px;
  text-shadow: black 0.1em 0.1em 0.1em
}

.bannerofertas h2 {
  font-size: 80px;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.bannerofertas h3 {
  font-size: 36px;
  padding-bottom: 30px;
}

.bannerofertas p {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 27px;
}

.bannerofertas h4 {
  font-size: 30px;
  margin-top: 15px;
}

.bannerofertas h4 {
  color: var(--white);
  text-decoration: none;
  border: 2px solid white;
  padding: 20px 80px;
}

.boton {
  width: 30%;
  text-align: center;
}

.boton:hover {
  box-shadow: 19px 23px 20px -10px rgba(0, 0, 0, 1);
  transform: scale(100%);
  padding: 0 10px;
  background: rgba(210, 255, 82, 1);
  background: -moz-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 0.64)));
  background: -webkit-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -o-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -ms-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: linear-gradient(to right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
  text-decoration: underline -1px;
  border: 2px solid white;
  padding: 20px 80px;
  text-decoration: none;
}

/*  BANNER APP */

/* .bannerapp {
  background-image: url(../img/banner_app.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  gap: 5%;
  padding: 200px 50px;
  background-color: aqua;
} */

.bannerapp {
  color: white;
  background-image: url(../img/banner_app_carousel2.png);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  height: 550px;
  padding: 50px 50px 130px 50px;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.bannerapp h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 0px;
}

.bannerapp p {
  font-size: 27px;
  font-weight: 800;
  line-height: 1.4;
  margin: 0px;
}

.textoApp {
  padding: 50px 50px 75px 50px;
  text-align: justify;
}

.textoApp p {
  color: white;
}


/*  BANNER NOVEDADES */

.contenedorNovedades {
  width: 100%;
  margin: 0 auto 0 auto;
}

.bannerNovedades {
  color: white;
  z-index: -1;
  background-image: url(../img/banner_novedades_porfin.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 40px 50px 105px 50px;
}

.contenidoNovedades {
  width: 50%;
  height: 100%;
}

.border {
  padding: 0px;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 72%;
  margin-left: 0%;
}

.bannerNovedades h2 {
  font-size: 72px;
  padding: 5px 0 10px 50px;
  height: auto;
  backdrop-filter: blur(2px);
}

.bannerNovedades h3 {
  font-size: 34px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.bannerNovedades p {
  font-size: 31px;
  font-weight: 800;
  line-height: 1.4;
  padding-bottom: 20px;
}

.bannerNovedades h4 {
  font-size: 31px;
  margin-top: 15px;
}

.bannerNovedades h4 {
  color: var(--white);
  text-decoration: none;
}

.bannerNovedades h3,
.bannerNovedades p,
.bannerNovedades h4 {
  text-shadow: black 0.1em 0.1em 0.1em;
}


/*      SECCIÓN PARA COSITOS DEL MEDIO  */

.sectioncositas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.sectioncositas div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
}

.sectioncositas p {
  font-size: 18px;
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sectioncositas img {
  width: 30px;
  height: 30px;
  padding-right: 20px;
}

.border {
  padding: 5px 0px 5px 15px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}


/*      SECCIÓN PARA CATEGORÍAS DESTACADAS */

.tituloSeccionDestacadas {
  /* margin-top: 0px; */
  padding: 40px 0px 40px 0px;
}

.tituloSeccionDestacadas h2 {
  color: var(--iconos);
  font-size: 40px;
  text-align: center;
}

.categorias {
  display: grid;
  grid: 375px / 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 90%;
  justify-content: space-around;
  margin-left: 5%;
}

.deco {
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.imgCategoria {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.imgCategoria span {
  display: flex;
  width: 100%;
  height: 20%;
  color: white;
  text-shadow: 2px 2px 2px black;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  transition: height, ease, 0.5s;
  backdrop-filter: blur(2px);
}

.imgCategoria span:hover {
  height: 100%;
  background-image: linear-gradient(180deg, rgba(160, 227, 74, 0), rgba(160, 227, 74, 0.8));
  border-radius: 8px;
}

.categoria1 {
  background-image: url(https://res.cloudinary.com/fronda/image/upload/f_auto,q_auto,c_fill,dpr_2.0,g_center,w_300,h_400/productos/fol/10028/10028159_2.jpg?18-01-2023);
}

.categoria2 {
  background-image: url(https://res.cloudinary.com/fronda/image/upload/f_auto,q_auto,c_fill,dpr_2.0,g_center,w_300,h_400/productos/fol/10025/10025362_1.jpg?18-01-2023);
}

.categoria3 {
  background-image: url(https://res.cloudinary.com/fronda/image/upload/f_auto,q_auto,c_fill,dpr_2.0,g_center,w_300,h_400/productos/fol/11022/11022675_2.jpg?18-01-2023);
}

.categoria4 {
  background-image: url(https://res.cloudinary.com/fronda/image/upload/f_auto,q_auto,c_pad,dpr_2.0,g_center,w_300,h_300/productos/fol/11236/11236806_2.jpg?20-01-2023);
}

.categoria5 {
  background-image: url(https://res.cloudinary.com/fronda/image/upload/f_auto,q_auto,c_pad,dpr_2.0,g_center,w_300,h_300/productos/fol/10060/10060313_2.jpg?18-01-2023);
}


/* ACCESOS */

.accesos {
  margin-top: 75px;
}

.accesos a {
  text-decoration: none;
}

.accesosTitulo {
  color: var(--iconos);
  text-transform: capitalize;
  font-size: 28px;
  margin-bottom: 50px;
  margin-left: 10%;
}

.imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 75px;
}

.imagenes div {
  overflow: hidden;
  border-radius: 8px;
}

.imagenes div img {
  width: 100%;
  height: 340px;
  border-radius: 8px;
  transition: 0.5s;
  margin-bottom: 0px;
}

.imagenes div img:hover {
  transform: scale(125%);
}

.imagenes div p {
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 5px 0px 5px 0px;
}

.imagenes div span {
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
}

.imagenes div sup {
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
}

.precios {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  align-items: end;
}

.anadirFavoritos {
  margin-left: 7.5%;
}

.anadirFavoritos:hover {
  fill: #009988;
}

.anadirCarrito {
  margin-left: 7.5%;
}

.anadirCarrito:hover {
  fill: #009988;
}

/*       SECCIÓN COLECCIÓN PRIMAVERA       */

/*  BANNER PRIMAVERA */

.contenedorPrimavera {
  width: 100%;
  margin: 0 auto 0 auto;
}

.bannerprimaveral {
  color: white;
  background-repeat: no-repeat;
  flex: 100%;
  max-width: 100%;
  height: 50rem;
  padding: 40px 50px 30px 50px;
  margin-top: 180px;
}

.sect {
  position: relative;
  overflow: hidden;
}

.videoBanner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.contenidoPrimavera {
  width: 50%;
  height: 100%;
}

.border {
  padding: 0px;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 72%;
  margin-left: 0%;
}

.colorBlur {
  background: -moz-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 0.64)));
  background: -webkit-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -o-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: -ms-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  background: linear-gradient(to right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 0.64) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.bannerprimaveral h2 {
  font-size: 72px;
  padding: 5px 0 10px 50px;
  height: auto;
  backdrop-filter: blur(2px);
}

.bannerprimaveral h3 {
  font-size: 34px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.bannerprimaveral p {
  font-size: 31px;
  font-weight: 800;
  line-height: 1.4;
  padding-bottom: 20px;
}

.bannerprimaveral h4 {
  font-size: 31px;
  margin-top: 15px;
}

.bannerprimaveral h4 {
  color: var(--white);
  text-decoration: none;
}

.bannerprimaveral h3,
.bannerprimaveral p,
.bannerprimaveral h4 {
  text-shadow: black 0.1em 0.1em 0.1em;
}

/* QUE NOS HACE DIFERENTES */

.quenoshacediferentes {
  padding-top: 50px;
  padding-bottom: 40px;
}

.tituloDiferente h2 {
  color: var(--iconos);
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}

.tituloDiferente h3 {
  color: var(--iconos);
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.tituloDiferente span {
  color: white;
}

.diferentes {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: space-around;
}

.diferentesTexto {
  padding-top: 10px;
}

.diferentesTexto img {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: var(--iconos);
  border-width: 4px;
  border-radius: 50%;
}

.barras {
  border-left: 1.5px solid var(--iconos);
  border-right: 1.5px solid var(--iconos);
  padding: 10px 20px;
  line-height: 1.2;
  font-size: medium;
}


/*  prueba  */

#socialicons {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.socialicon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #e4e4e4;
  position: relative;
  float: left;
  margin: 0px 0px 10px 10px;
}

.circulo1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 100px;
  /* background-image: url(../img/Calathea-fondo.jpg); */
  -webkit-animation: fill 2s infinite;
  -moz-animation: fill 2s infinite;
  animation: fill 2s infinite;
}

.circulo2 {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background-image: url(../img/Calathea-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 3px;
  top: 3px;
}

.icons {
  font-size: 2em;
  position: absolute;
  left: 33px;
  top: 33px;
  -webkit-animation: iconjump 2s infinite;
  -moz-animation: iconjump 2s infinite;
  animation: iconjump 2s infinite;
}

/* fill color */
.color {
  background: var(--iconos);
}

/* icons color */
.color2 {
  color: var(--iconos) !important;
}

/* fill background */
@-webkit-keyframes fill {
  0% {
    top: 100px;
  }

  100% {
    top: 0px;
  }
}

@-moz-keyframes fill {
  0% {
    top: 100px;
  }

  100% {
    top: 0px;
  }
}

@keyframes fill {
  0% {
    top: 100px;
  }

  100% {
    top: 0px;
  }
}

/* jump social icons */
@-webkit-keyframes iconjump {
  0% {
    top: 33px;
  }

  10% {
    top: 70px;
  }

  20% {
    top: 33px;
  }

  50% {
    top: 33px;
  }

  90% {
    top: 33px;
  }

  100% {
    top: 33px;
  }
}

@-moz-keyframes iconjump {
  0% {
    top: 33px;
  }

  10% {
    top: 70px;
  }

  20% {
    top: 33px;
  }

  50% {
    top: 33px;
  }

  90% {
    top: 33px;
  }

  100% {
    top: 33px;
  }
}

@keyframes iconjump {
  0% {
    top: 33px;
  }

  10% {
    top: 70px;
  }

  20% {
    top: 33px;
  }

  50% {
    top: 33px;
  }

  90% {
    top: 33px;
  }

  100% {
    top: 33px;
  }
}


/* ATENCIÓN AL CLIENTE Y LEGAL */

.pie {
  display: grid;
  grid: 1fr / 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 30px;
}

.pie h3 {
  color: var(--iconos);
  font-size: 24px;
  margin-bottom: 55px;
}

.pie a {
  font-size: 18px;
}

.atencion {
  margin-left: 40%;
  margin-bottom: 13%;
}

.atencion-grid {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr;
}

.alineacion {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.alineacion a {
  margin-left: 10px;
}

.legal {
  margin-right: 40%;
}

.legal div h3 {
  justify-content: center;
  margin-bottom: 60px;
}

.legal div a {
  color: black;
  text-decoration: none;
}

.legal-tabla {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr;
  max-width: 350px;
  gap: 35px 50px;
  margin-top: 25px;
}


/* FOOTER */

.encuentranos {
  background-color: var(--olivadeg);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.publicidad {
  display: flex;
  flex: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.publicidad a {
  text-decoration: none;
  color: black;
}

.redes {
  display: flex;
  flex: 35%;
  width: 35%;
  justify-content: space-evenly;
  padding: 15px 15px 25px 15px;
  margin-right: 14%;
  /* quitando este se expanden más a la derecha pero dan problemas al hacerlo pequeño */
}

.redes-solas {
  display: flex;
  align-items: center;
}

.redes-solas a {
  font-size: 16px;
  margin-left: 10px;
}

.pagos {
  display: flex;
  flex: 20%;
  width: 20%;
  justify-content: space-evenly;
  padding: 10px 10px 20px 10px;
}

.pagos-solos {
  display: flex;
  align-items: center;
}

.pagos-solos span {
  margin-left: 10px;
}

.copyright {
  display: flex;
  flex: 90%;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}

.copyright p {
  padding-left: 1%;
}


/* REDES SOCIALES ANIMACION */

#redessociales {
  width: 64px;
  height: 64px;
  margin-left: 20px;
  border-radius: 75px;
  border: 4px solid var(--iconos);
  background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg);
}

.smedia {
  position: absolute;
  -webkit-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -moz-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -o-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 10;
  margin: 10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left: 3px;
}

#redessociales:hover .smedia {
  opacity: 1;
  transform: translate(0px, 0);
  -webkit-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  margin: 10px 0px 0px 20px;
  position: absolute;
}

#redessociales:hover .smedia:nth-child(1) {
  position: absolute;
  left: 85px;
}

#redessociales:hover .smedia:nth-child(2) {
  position: absolute;
  left: 130px;
}

#redessociales:hover .smedia:nth-child(3) {
  position: absolute;
  left: 175px;
}

#redessociales:hover .smedia:nth-child(4) {
  position: absolute;
  left: 220px;
}

#redessociales:hover .smedia:nth-child(5) {
  position: absolute;
  left: 265px;
}

#redessociales:hover .smedia:nth-child(6) {
  position: absolute;
  left: 310px;
}

.smedia.facebook {
  background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
}

.smedia.twitter {
  background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
}

.smedia.email {
  background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
}

.smedia.instagram {
  background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
}

.smedia.youtube {
  background: url(https://4.bp.blogspot.com/-x2oyT1dBzwA/UWHsNtcWXVI/AAAAAAAABo8/8kCXTVMbM6Y/s1600/bubble_youtube_share_button.png);
}

.smedia.vimeo {
  background: url(https://2.bp.blogspot.com/-01SWPeX-584/UWHsNim9CAI/AAAAAAAABo4/Z9jMox_9UrE/s1600/bubble_vimeo_share_button.png);
}

.smedia:hover {
  background-position: 0 -46px;
}

/* Tardis */

.name {
  color: #aaa;
  font-size: 12px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

.name div:first-of-type {
  font-size: 14px;
}

.name a {
  color: #aaa;
}

.name a:hover {
  color: #888;
}

.left {
  float: left;
}

.right {
  float: right;
}



.perspective {
  perspective: 1200px;
  -webkit-perspective: 1200px;
}

.tardis-wrap {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  transform: translateZ(-300px);
  -webkit-transform: translateZ(-300px);
}

.tardis {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;

  transform: rotateX(-20deg) rotateY(-30deg);
  -webkit-transform: rotateX(-20deg) rotateY(-30deg);

  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotateX(-20deg) rotateY(0deg);
  }

  to {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}



/*
#
# Begin details
#
*/
.tardis .side {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 360px;
  background-color: #3f577d;

  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 1;
}

.side:nth-of-type(1) {
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
}

.side:nth-of-type(2) {
  transform: rotateY(90deg) translateZ(100px);
  -webkit-transform: rotateY(90deg) translateZ(100px);
}

.side:nth-of-type(3) {
  transform: rotateY(180deg) translateZ(100px);
  -webkit-transform: rotateY(180deg) translateZ(100px);
}

.side:nth-of-type(4) {
  transform: rotateY(-90deg) translateZ(100px);
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}

.tardis .roof {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #3f577d;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  transform: rotateX(-90deg) translateZ(-100px);
  -webkit-transform: rotateX(-90deg) translateZ(-100px);
  z-index: 2;
}


/* The top roof box */
.roof-top {
  position: absolute;

  left: 30px;
  width: 140px;
  height: 140px;
  z-index: 2;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.top-lid {
  width: 140px;
  height: 140px;
  background-color: #355683;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-90deg) translateZ(-89px);
  -webkit-transform: rotateX(-90deg) translateZ(-89px);
}

.roof-panel {
  position: absolute;
  width: 140px;
  height: 20px;
  background-color: #445d84;
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  top: -20px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.roof-panel.a {
  transform: rotateY(0deg) translateZ(70px);
  -webkit-transform: rotateY(0deg) translateZ(70px);
}

.roof-panel.b {
  transform: rotateY(90deg) translateZ(70px);
  -webkit-transform: rotateY(90deg) translateZ(70px);
}

.roof-panel.c {
  transform: rotateY(180deg) translateZ(70px);
  -webkit-transform: rotateY(180deg) translateZ(70px);
}

.roof-panel.d {
  transform: rotateY(-90deg) translateZ(70px);
  -webkit-transform: rotateY(-90deg) translateZ(70px);
}

/* Light */
.light {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -60px;
  left: 85px;
  z-index: 3;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.light-lid {
  width: 30px;
  height: 30px;
  background-color: #eee;


  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-90deg) translateZ(-14px);
  -webkit-transform: rotateX(-90deg) translateZ(-14px);
}

.light .light-panel {
  position: absolute;
  width: 30px;
  height: 40px;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.light .light-panel .bottom {
  width: 30px;
  height: 12px;
  position: absolute;
  bottom: 0px;
  background-color: #355683;
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
}

.light .light-panel .top {
  width: 30px;
  height: 28px;
  position: absolute;
  top: 0px;
  background-color: #eee;
  box-shadow: inset 1px 0 0 #fff, inset -1px 0 0 #fff, inset 0 1px 0 #fff, inset 0 -1px 0 #fff;
}

.light-panel.a {
  transform: rotateY(0deg) translateZ(15px);
  -webkit-transform: rotateY(0deg) translateZ(15px);
}

.light-panel.b {
  transform: rotateY(90deg) translateZ(15px);
  -webkit-transform: rotateY(90deg) translateZ(15px);
}

.light-panel.c {
  transform: rotateY(180deg) translateZ(15px);
  -webkit-transform: rotateY(180deg) translateZ(15px);
}

.light-panel.d {
  transform: rotateY(-90deg) translateZ(15px);
  -webkit-transform: rotateY(-90deg) translateZ(15px);
}


/* Floor */
.tardis .floor {
  position: absolute;
  width: 220px;
  height: 220px;
  left: -10px;
  top: 360px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.floor-lid {
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #355683;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(109px);
  ;
  -webkit-transform: rotateX(90deg) translateZ(109px);
  ;
}

.floor-panel {
  position: absolute;
  width: 220px;
  height: 10px;
  background-color: #3f577d;
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.floor-panel.a {
  transform: rotateY(0deg) translateZ(110px);
  -webkit-transform: rotateY(0deg) translateZ(110px);
}

.floor-panel.b {
  transform: rotateY(90deg) translateZ(110px);
  -webkit-transform: rotateY(90deg) translateZ(110px);
}

.floor-panel.c {
  transform: rotateY(180deg) translateZ(110px);
  -webkit-transform: rotateY(180deg) translateZ(110px);
}

.floor-panel.d {
  transform: rotateY(-90deg) translateZ(110px);
  -webkit-transform: rotateY(-90deg) translateZ(110px);
}







/*
#
# Top sign
#
*/
.side .top-sign {
  width: 180px;
  height: 28px;
  background-color: #445d84;
  border: solid 1px #54749f;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 10px;

  z-index: 10;
}

.top-sign .text {
  background-color: #28394d;
  border: solid 1px #54749f;
  border-radius: 2px;
  width: 100px;
  margin: 3px auto;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  padding: 0px 5px;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .4);
  position: relative;

  text-shadow: 0px 0px 4px rgba(255, 255, 255, .6);
}

.text .tiny {
  font-size: 4px;
  line-height: 6px;
  text-align: center;
  width: 20px;
  position: absolute;
  right: 35px;
  top: 4px;
}

/*
#
# Door frame
#
*/
.side .door-frame {
  position: absolute;
  width: 160px;
  left: 20px;
  top: 35px;
  bottom: 0px;

  background-color: #445d84;

  box-shadow: inset 0px 2px 8px rgba(0, 0, 0, .5);

  z-index: 5;
}


.door-frame .door {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 77px;

  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .7);
}

.door.door-left {
  left: 0px;
}

.door.door-right {
  right: 0px;
}

/* Insets */
.door .door-inset {
  position: absolute;
  left: 10px;
  bottom: 10px;

  width: 55px;
  height: 65px;
  box-shadow: inset 0px .5px 5px rgba(0, 0, 0, .5);
}

.door-inset:nth-of-type(2) {
  bottom: 85px;
}

.door-inset:nth-of-type(3) {
  bottom: 160px;
}

/* Sign */
.door .sign {
  position: absolute;
  left: 15px;
  bottom: 165px;
  width: 45px;
  height: 55px;
  background-color: #d5e4f6;
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
}

/* Window */
.door .window {
  position: absolute;
  left: 10px;
  bottom: 235px;

  width: 55px;
  height: 65px;
  background-color: #28475d;
}

.window .pane {
  width: 14px;
  height: 28px;
  background-color: #dfe7fc;
  float: left;
  margin: 2px;
  box-shadow: inset 0px 0px 10px #fff;
}

.pane.a {
  margin-left: 3px;
  margin-right: 1px;
}

.pane.d {
  margin-left: 3px;
  margin-right: 1px;
}


/* OTRA PRUEBA */
/* .socialw {
  width: 235px;
  margin: 100px auto 0 auto;
  overflow: auto;
  height: 100%;
}

.social{
  position:relative;
  border: 1px solid #292929;
  width: 72px;
  height: 124px;
  float: left;
  margin-left: 10px;
  overflow: hidden;
}

.first {
  margin-left: 0px;
} */

/*    ANIMATIONS   */

/* Fade In Down */
/* @-webkit-keyframes fadeInDown {
  0% {  opacity: 0;  -webkit-transform: translateY(-100px);  }  
  100% {  opacity: 1;  -webkit-transform: translateY(0);  }
}

@-moz-keyframes fadeInDown {
  0% {  opacity: 0;  -moz-transform: translateY(-100px);  } 
  100% {  opacity: 1;  -moz-transform: translateY(0);  }
}

@-o-keyframes fadeInDown {
  0% {  opacity: 0;  -o-transform: translateY(-100px);  } 
  100% {  opacity: 1;  -o-transform: translateY(0);  }
}

@keyframes fadeInDown {
  0% {  opacity: 0;  transform: translateY(-100px); } 
  100% {  opacity: 1;  transform: translateY(0);  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 1s both 0.5s;
  -moz-animation: fadeInDown 1s both 0.5s;
  -o-animation: fadeInDown 1s both 0.5s;
  animation: fadeInDown 1s both 0.5s;
} */
/* Fade In Down */

/* Social Transition */

/* .social img{
position:absolute;
left:0;
top:0;
-webkit-transition: margin-top 250ms ease-in;
-moz-transition: margin-top 250ms ease-in;
-o-transition:  margin-top 250ms ease-in;
transition:  margin-top 250ms ease-in;
}
.social:hover img{
margin-top:-62px;
} */




@media(max-width: 1250px) {
  .fondoJardin {
    width: 800%;
  }
}

@media(max-width: 1150px) {
  .fondoServicios {
    width: 555%;
  }

  .fondoMadera {
    width: 700%;
  }

  .menuPlantas img {
    left: -30%;
  }

  .menuPlantas div h2 {
    line-height: 1.2;
  }

  .bannerprimaveral h2 {
    font-size: 50px;
    padding: 5px 0 10px 50px;
    height: auto;
    backdrop-filter: blur(2px);
  }

  .bannerprimaveral h3 {
    font-size: 24px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .bannerprimaveral p {
    font-size: 15px;
    font-weight: 800;
    line-height: 1.4;
    padding-bottom: 20px;
  }
}

@media(max-width:1050px) {
  .fondoJardin {
    width: 700%;
  }
}

@media(min-width: 1100px){
  .tituloDiferente span {
    display: none;
  }
}

@media(max-width: 975px) {
  .bannerprimaveral {
    display: none;
  }

  .diferentes {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: space-around;
  }

  .tituloDiferente span {
    display: none;
  }
}

@media(max-width: 915px) {
  .fondoMadera {
    width: 600%;
  }

  .fondoJardin {
    width: 600%;
    margin-left: 0rem;
    height: 90vh;
    margin-left: -15rem;
  }

  .menuJardin {
    grid-template-columns: 1fr 1fr;
  }

  .desaparecer {
    display: none;
  }

  .menuJardin img {
    display: none;
  }

  .fondoServicios {
    width: 400%;
  }

  .categorias {
    display: grid;
    grid: 100px 100px 100px 100px 100px / 100%;
    gap: 5px;
    width: 90%;
    justify-content: space-around;
    margin-left: 5%;
  }

  .imgCategoria span {
    width: 40%;
    height: 100%;
  }

  .imgCategoria span:hover {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(160, 227, 74, 0), rgba(160, 227, 74, 0.8));
    border-radius: 8px;
  }
}

@media(max-width: 850px) {
  .redes-solas a {
    display: none;
  }

  .pagos-solos span {
    display: none;
  }
}

@media(max-width: 750px) {
  .imagenes {
    grid-template-columns: 1fr 1fr;
  }

  .iconos{
    justify-content: flex-end;
  }

  .responsive {
    display: none;
  }

  .menuResponsive {
    display: flex;
  }
}


@media(max-width: 700px) {
  .desplegable:hover .fondoJardin {
    display: none;
  }

  .desplegable:hover .fondoMadera {
    display: none;
  }

  .desplegable:hover .fondoServicios {
    display: none;
  }
}

@media(max-width: 670px) {
  .menu {
    display: grid;
    grid: 50px 50px 50px 50px 50px 50px / 100%;
    justify-items: center;
  }

  .zoom {
    box-shadow: 0 5px 6px rgb(0 0 0);
    width: 100%;
    text-align: center;
    padding-top: 1%;
  }

  .carousel {
    display: none;
  }

}