:root {
  --oliva: #A0E34A;

}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

.contenedor {
  width: 95%;
  margin: 0 20px 0 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 170px;
  height: 100px;
}

.iconos{
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}